sym-lib-table
*.bak
*.bck

# Ignore backup files
_autosave-tomu-fpga.kicad_pcb
tomu-fpga.kicad_pcb-bak

# Netlists contain references to the source file using
# local paths.  Because of this, they are unsuitable
# for storing in source control.
tomu-fpga.net
